.customersPage {
	.customerPageContent {
		padding: 20px 40px;
		.pageHeaderCta {
			button {
				width: 100%;
			}
		}
		.customerCardFilter {
			margin: 25px 0;
			.pageHeaderFilters {
				.filterTitle {
					color: #411bff;
				}
				.filterSelect {
					width: 100%;
					.ant-select-selector {
						background: linear-gradient(90deg, transparent 0, transparent 80%, #411bff 0, #411bff 100%);
					}
					.ant-select-arrow {
						color: #ffffff;
					}
				}
			}
		}
		.customerCardTable {
			.tableActionCtas {
				svg {
					color: #411bff;
					cursor: pointer;
				}
			}
		}
		/**
        * Basic CSS Media Query Template
        * ------------------------------------------
        *  Responsive Grid Media Queries - 1280, 1024, 768, 480
        *   1280-1024   - desktop (default grid)
        *   1024-768    - tablet landscape
        *   768-480     - tablet 
        *   480-less    - phone landscape & smaller
        * --------------------------------------------
        */
		@media all and (min-width: 1024px) and (max-width: 1280px) {
		}

		@media all and (min-width: 768px) and (max-width: 1024px) {
		}

		@media all and (min-width: 480px) and (max-width: 768px) {
		}

		@media all and (max-width: 480px) {
			.customerCardFilter {
				.pageHeaderFilters {
					.filterSelect {
						.ant-select-selector {
							background: linear-gradient(90deg, transparent 0, transparent 60%, #411bff 0, #411bff 100%);
						}
					}
				}
			}
		}
	}
}
