.pageFormatPage {
    .pageFormatContent {
        padding: 20px;
        margin-top: 100px;
        .formTitle {
            color: #421aff;
            margin-top: 0;
        }
        .pageFormatFormContainer {
            margin-top: 20px;
            .customLabel {
                h5 {
                    color: #421aff;
                    margin-bottom: 0;
                }
            }
            .customFormRowInputContainer {
                background: #F2F1F8;
                padding: 10px;
                border-radius: 10px;
                .ant-form-item-control-input-content {
                    text-align: right;
                    button {
                        height: 50px;
                        &.colorPicker {
                            background: #421aff;
                            border-radius: 50%;
                            height: 30px;
                            margin: 14px;
                        }
                    }
                }
            }
            .formCta {
                .formCtaMulti {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                .ant-row {
                    margin-top: 100px;
                    justify-content: center;
                }
                button {
                    width: 100%;
                }
            }
        }
        .logoContent {
            .ant-card {
                position: relative;
                background: #421aff;
                margin-top: 0;
                .ant-card-body {
                    padding-left: 0;
                    padding-right: 0;
                }
                .mapTitle {
                    color: #ffffff;
                    text-align: center;
                    margin-top: 0;
                    margin-bottom: 15px;
                }
                .imgContainer {
                    width: 100%;
                    height: 160px;
                    .pageFormatImg {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .pageFormatSubText {
                    text-align: center;
                    color: #ffffff;
                    font-weight: 600;
                    font-size: 20px;
                    width: 75%;
                    margin: 25px auto;
                }
                .ctaFooter {
                    position: absolute;
                    width: 200px;
                    margin: auto;
                    left: 0;
                    right: 0;
                    bottom: 50px;
                    display: flex;
                    justify-content: center;
                    .ctaAddToAppleWallet {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
        }
        /**
        * Basic CSS Media Query Template
        * ------------------------------------------
        *  Responsive Grid Media Queries - 1280, 1024, 768, 480
        *   1280-1024   - desktop (default grid)
        *   1024-768    - tablet landscape
        *   768-480     - tablet 
        *   480-less    - phone landscape & smaller
        * --------------------------------------------
        */
        @media all and (min-width: 1024px) and (max-width: 1280px) {

        }

        @media all and (min-width: 768px) and (max-width: 1024px) {

        }

        @media all and (min-width: 480px) and (max-width: 768px) {

        }

        @media all and (max-width: 480px) {
            .logoContent {
                .ant-card {
                    .ctaFooter {
                        position: unset;
                        width: 150px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}