.loginPage {
	.loginContainer {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		.loginCardContainer {
			.ant-card-body {
				padding-top: 150px;
			}
			.loginEmail {
				text-align: center;
				&::placeholder {
					font-weight: 700;
				}
			}
			.loginPassword {
				margin: 12px 0;
				.ant-input {
					text-align: center;
					&::placeholder {
						font-weight: 700;
					}
				}
			}
			.loginCta {
				width: 100%;
				margin-top: 25px;
				button {
					width: 100%;
					margin: auto;
					display: flex;
					justify-content: center;
				}
			}
			.createAccount {
				width: 100%;
				margin-top: 12px;
				button {
					width: 100%;
					margin: auto;
					display: flex;
					justify-content: center;
				}
			}
			.forgotPassword {
				gap: 8px;
				display: flex;
				justify-content: center;
				text-align: center;
				width: 100%;
				margin: 12px 0px 0;
				a {
					color: #a39d9d;
					font-weight: 600;
				}
			}
		}
	}
}