.dashboardPage {
	height: 100% !important;
	.dashboardRow {
		display: flex;
		height: 100%;
		width: 100%;
		.dashboardContent {
			width: 80%;
			padding: 20px 40px;
			.greetingTxt {
				font-weight: 700;
			}
			.statHeader {
				display: flex;
				justify-content: space-between;
				.statTitle {
					margin-top: 0;
					margin-bottom: 0;
				}
				.statLabel {
					color: #a39d9d;
					margin-bottom: 0;
				}
			}
			.dashboardLineGraphChart {
				margin: 25px 0;
			}
			.customerCardTable {
				margin: 25px 0;
				.tableTitle {
					margin-top: 0;
					margin-bottom: 20px;
				}
				.tableActionCtas {
					svg {
						color: #411bff;
						cursor: pointer;
					}
				}
				.ant-table {
					overflow: auto;
				}
			}
		}
		.qrCodeComponent {
			width: 18%;
			height: 100vh;
			position: fixed;
			right: 0;
			top: 0px;
			bottom: 0px;
		}
	}
	/**
	* Basic CSS Media Query Template
	* ------------------------------------------
	*  Responsive Grid Media Queries - 1280, 1024, 768, 480
	*   1280-1024   - desktop (default grid)
	*   1024-768    - tablet landscape
	*   768-480     - tablet 
	*   480-less    - phone landscape & smaller
	* --------------------------------------------
	*/
	@media all and (min-width: 1024px) and (max-width: 1280px) {
	}

	@media all and (min-width: 768px) and (max-width: 1024px) {
		.dashboardRow {
			.dashboardContent {
				width: 70%;
			}
			.qrCodeComponent {
				width: 30%;
				.qrCodeComponentHeader {
					padding: 0 25px;
				}
			}
		}
	}

	@media all and (min-width: 480px) and (max-width: 768px) {
		.dashboardRow {
			.dashboardContent {
				width: 70%;
			}
			.qrCodeComponent {
				width: 30%;
				.qrCodeComponentHeader {
					padding: 0 15px;
				}
			}
		}
	}

	@media all and (max-width: 480px) {
		.dashboardRow {
			position: relative;
			flex-direction: column-reverse;
			overflow: auto;
			height: auto;
			width: auto;
			margin-bottom: auto;
			.dashboardContent {
				width: 100%;
				margin-bottom: 50px;
			}
			.qrCodeComponent {
				margin-bottom: auto;
				position: unset;
				width: 100%;
				top: unset;
				bottom: unset;
				height: auto;
				right: unset;
				.qrFooter {
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
}
