.sideNavMainContainer {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	.sideNavAdmin {
		margin-top: 50px;
	}
	.sideNavAdminBottom {
		margin-bottom: 50px;
	}
}
