.sideNavMainContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.sideNavAdmin {
		margin-top: 100px;
		background-color: #401bff;
		.ant-menu-item {
			color: #ffffff;
		}
	}
	.sideNavAdminBottom {
		margin-bottom: 50px;
		background-color: #401bff;
		.ant-menu-item {
			color: #ffffff;
		}
	}
}
