.settingsPage {
    .settingsContent {
        padding: 20px;
        .formTitle {
            color: #421aff;
        }
        .settingsFormContainer {
            margin-top: 20px;
            input {
                background: #D1D4F8;
            }
            .formButton {
                text-align: right;
                button {
                    width: 40%;
                }
            }
            label {
                font-weight: 700;
                color: #421aff;
            }
            .formCta {
                .ant-row {
                    margin-top: 100px;
                    justify-content: center;
                }
                button {
                    width: 100%;
                }
            }
        }
    }
}