.geographicPage {
	.geographicContent {
		padding: 20px 40px;
		margin-top: 100px;
		.formTitle {
			color: #411bff;
		}
		.geographicFormContainer {
			margin-top: 20px;
			.customLabel {
				h5 {
					color: #411bff;
					margin-bottom: 0;
				}
			}
			.customFormRowInputContainer {
				background: #f2f1f8;
				padding: 10px;
				border-radius: 10px;
			}
			.formCta {
				.ant-row {
					margin-top: 100px;
					justify-content: center;
				}
				button {
					width: 100%;
				}
			}
		}
		.mapContent {
			.ant-card {
				background: #411bff;
				margin-top: 0;
				.mapTitle {
					color: #ffffff;
					text-align: center;
					margin-top: 0;
					margin-bottom: 15px;
				}
			}
		}
		/**
        * Basic CSS Media Query Template
        * ------------------------------------------
        *  Responsive Grid Media Queries - 1280, 1024, 768, 480
        *   1280-1024   - desktop (default grid)
        *   1024-768    - tablet landscape
        *   768-480     - tablet 
        *   480-less    - phone landscape & smaller
        * --------------------------------------------
        */
		@media all and (min-width: 1024px) and (max-width: 1280px) {
		}

		@media all and (min-width: 768px) and (max-width: 1024px) {
			margin-top: 30px;
			.customFormRowInputContainer {
				textarea {
					margin-top: 25px;
				}
				.ant-form-item-control {
					flex: auto;
				}
			}
		}

		@media all and (min-width: 480px) and (max-width: 768px) {
			margin-top: 30px;
			.customFormRowInputContainer {
				textarea {
					margin-top: 25px;
				}
				.ant-form-item-control {
					flex: auto;
				}
			}
		}

		@media all and (max-width: 480px) {
			margin-top: 20px;
			.customFormRowInputContainer {
				textarea {
					margin-top: 20px;
				}
				.ant-form-item-control {
					flex: auto;
				}
			}
		}
	}
}
